{% load static %}
<doctype !html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>My fake blog!</title>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="{% static 'app.css' %}">
</head>
<body>
  <header></header>
  <h1>HI!</h1>
  <div class="jumbotron">
    {% if user.is_authenticated %}
      <p>Logged as {{ user.username }}</p>
      <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
      <div id = "user-pfp">
        <p>asd {{user.userprofile.name}}</p>
        {% if userprofile.avatar %}
        <img style = "width: 250px; height: 250px" alt = "img" src="{{userprofile.avatar.url}}">
        {% endif %}
      </div>
    <div class = "form-group">
      <form method = "POST" enctype="multipart/form-data" class = "post-form">{% csrf_token %}
        {{form.as_p}}
        <button type = "submit" class = "save btn btn-default">Save</button>
      </form>
    </div>
      {% if img_obj %}
        <h3>Succesfully uploaded : {{img_obj.title}}</h3>
        <img src="{{img_obj.image.url}}" alt="connect" style="max-height:300px">
      {% endif %}
    {% else %}
      <a class="btn btn-primary" href="{% url 'social:begin' 'google-oauth2' %}">
        Login
      </a>
    {% endif %}
  </div>
  <footer></footer>


  </div>
</body>
</html>
