input#id_avatar {
    display:block;
outline: none;
border-radius: 3px;
border-style: none;
height: 45px;
width: 300px;
padding:0 16px;
font-size: 18px;
margin:0 auto;
background-color: rgb(253, 226, 201);
}

h1 {
    padding-top: 25px;
    text-align: center;
}
#outer {
    background-color: rgb(253, 226, 201);
    height : 100%;
}
#footer {
    background-color: lightslategrey;
}

header {
    background-color: lightslategrey;
}
#inner {
    text-align: center;
    margin: 0 auto;
}
label {
    display: inline-block;
}


#top {
    text-align: right;
}

a#top {
    display:block;
    margin-left: 92%;
}
