input#id_avatar {
    display:block;
outline: none;
border-radius: 3px;
border-style: none;
height: 45px;
width: 300px;
padding:0 16px;
font-size: 18px;
background-color: rgb(250,250,250);
margin:0 auto;
}

#inner {
    text-align: center;
    margin: 0 auto;
}